<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item href="dashboard">Dashboard</a>
      <a mat-list-item href="news">Latest News</a>
      <a mat-list-item href="precautions">Precautions</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">Menu</mat-icon>
      </button>
      <span>{{title}}</span>
      <span class="fill-space"></span>
      <button *ngIf="!isLoggedIn" type="button" mat-button [routerLink]='["/login"]'>LOGIN</button>
      <button *ngIf="isLoggedIn" type="button" mat-button (click)="logout()">LOGOUT</button>
    </mat-toolbar>
    <div class='container'>
      <router-outlet></router-outlet>
    </div> 
  </mat-sidenav-content>
</mat-sidenav-container>
