<div id="parent">
<div>
  <h1 class="mat-h1">Precautions</h1>
  <img src="../../../assets/download.gif" alt="image" class="image">
</div>
  <div class="block center">
  <h1 style="margin-top: 60px;">STAY HOME.SAVE LIVES.</h1>
  <span>Help stop coronavirus</span><br>
  <span style="color: crimson;">1  </span> <span><b>Stay </b></span> <span>Home</span> <br>
  <span style="color: crimson;">2  </span> <span><b>Keep </b></span> <span>a safe Distance</span> <br>
  <span style="color: crimson;">3  </span> <span><b>Wash </b></span> <span>hands often</span> <br>
  <span style="color: crimson;">4  </span> <span><b>Cover </b></span> <span>your cough</span> <br>
  <span style="color: crimson;">5  </span> <span><b>Sick? </b></span> <span>Call the helpline</span>
  </div>
</div>
  
<div style="margin-top: 150px;">
<p>To prevent the spread of COVID-19:</p>
<ul>
  <li>Clean your hands often. Use soap and water, or an alcohol-based hand rub.</li>
  <li>Maintain a safe distance from anyone who is coughing or sneezing.</li>
  <li>Don’t touch your eyes, nose or mouth.</li>
  <li>Cover your nose and mouth with your bent elbow or a tissue when you cough or sneeze.</li>
  <li>Stay home if you feel unwell.</li>
  <li>If you have a fever, a cough, and difficulty breathing, seek medical attention. Call in advance.</li>
  <li>Follow the directions of your local health authority.</li>
</ul>
<br>
<br>
<p>Avoiding unneeded visits to medical facilities allows healthcare systems to operate more effectively, therefore protecting you and others.</p>
<br>
<h1>Modes of transmission of the COVID-19 virus</h1>
<br>
<p>Respiratory infections can be transmitted through droplets of different sizes: when the droplet particles are >5-10 μm in diameter they are referred to as respiratory droplets, and when then are smaller than 5μm in diameter, they are referred to as droplet nuclei.1 According to current evidence, COVID-19 virus is primarily transmitted between people through respiratory droplets and contact routes.2-7 In an analysis of 75,465 COVID-19 cases in China, airborne transmission was not reported.8</p>
<p>Droplet transmission occurs when a person is in in close contact (within 1 m) with someone who has respiratory symptoms (e.g., coughing or sneezing) and is therefore at risk of having his/her mucosae (mouth and nose) or conjunctiva (eyes) exposed to potentially infective respiratory droplets. Transmission may also occur through fomites in the immediate environment around the infected person.8 Therefore, transmission of the COVID-19 virus can occur by direct contact with infected people and indirect contact with surfaces in the immediate environment or with objects used on the infected person (e.g., stethoscope or thermometer). </p>
<p>Airborne transmission is different from droplet transmission as it refers to the presence of microbes within droplet nuclei, which are generally considered to be particles smaller than 5μm in diameter, can remain in the air for long periods of time and be transmitted to others over distances greater than 1 m. </p>
<p>In the context of COVID-19, airborne transmission may be possible in specific circumstances and settings in which procedures or support treatments that generate aerosols are performed; i.e., endotracheal intubation, bronchoscopy, open suctioning, administration of nebulized treatment, manual ventilation before intubation, turning the patient to the prone position, disconnecting the patient from the ventilator, non-invasive positive-pressure ventilation, tracheostomy, and cardiopulmonary resuscitation. </p>
<p>There is some evidence that COVID-19 infection may lead to intestinal infection and be present in faeces. However, to date only one study has cultured the COVID-19 virus from a single stool specimen.9  There have been no reports of faecal−oral transmission of the COVID-19 virus to date.</p>
</div>

